.task-container {
    background-color: #444;
    margin: 8px 0;
    padding: 30px 10px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    color: #eee;
    align-items: center;
    height: 30px;
}

.task-title {
    cursor: pointer;
    font-size: 11px;
}

.remove-task-button, .see-task-details-button{
    border: none;
    background-color: #444;
    font-size: 20px;
    color: chartreuse;
    cursor: pointer;
    margin: 0 5px;
    align-items: 30px;
}